#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 5px solid skyblue;
}
.layout td{
  padding-left: 250px;
    padding-right: 250px;
  border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;

}
.layout {
  background-color: white;
  font-size: large;
  border: 7px solid rgb(18, 169, 69);
}

